@using System
@using System.Collections.Generic
@using fipha
@using System.Linq

@{
    Layout = "layout.cshtml";
}

<div class="main">

    @if (Model.CurrentTab >= LcdTab.NowPlayingPage1 && Model.CurrentTab <= LcdTab.NowPlayingPage5)
    {
        var nowPlayingPage = App.NowPlayingPages[Model.CurrentTab - LcdTab.NowPlayingPage1];

        <div class="cardcaption">@nowPlayingPage.CaptionName</div>
    }
    else if (Model.CurrentTab >= LcdTab.SensorPage1 && Model.CurrentTab <= LcdTab.SensorPage5)
    {
        var sensorPage = App.SensorPages[Model.CurrentTab - LcdTab.SensorPage1];

        <div class="cardcaption">@sensorPage.CaptionName</div>
    }
</div>
